@model ChangePasswordViewModel

<form asp-controller="Manager"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete"
      id="changePasswordForm">


    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control form-control-solid" placeholder="Old Password" asp-for="OldPassword" />
            <label asp-for="OldPassword"></label>
        </div>
        <span asp-validation-for="OldPassword" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control form-control-solid" placeholder="New Password" asp-for="NewPassword" />
            <label asp-for="NewPassword"></label>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger d-block"></span>
    </div>
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="password" class="form-control form-control-solid" placeholder="Email" asp-for="ConfirmPassword" />
            <label asp-for="ConfirmPassword"></label>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
    </div>

    <partial name="_ModalFooterUser" />

</form>

