@model CategoryFormViewModel

<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete"
      enctype="multipart/form-data">
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="mb-5">
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Category Image</h2>
                </div>
            </div>
            <div class="card-body text-center pt-0">
                @if (string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <style>
                        .image-input-placeholder {
                            background-image: url('/images/blank-image.svg');
                        }

                        [data-bs-theme="dark"] .image-input-placeholder {
                            background-image: url('/images/blank-image-dark.svg');
                        }
                    </style>
                }
                else
                {
                    <style>
                        .image-input-placeholder {
                            background-image: url('@Model.ImageUrl');
                        }
                    </style>
                }

                <div id="image-preview" class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                    <div class="image-input-wrapper w-150px h-150px"></div>
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                        <i class="bi bi-pencil-fill fs-7"></i>
                        <input id="image-input" type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                    </label>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                        <i class="ki-duotone ki-cross fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </span>
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                        <i class="ki-duotone ki-cross fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </span>
                </div>
                <div class="text-muted fs-7">Set the product image. Only *.png, *.jpg and *.jpeg image files are accepted and cannot be more than 2MB.</div>
                <span asp-validation-for="Image" class="text-danger d-block"></span>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" placeholder="Name" asp-for="Name" />
            <label asp-for="Name"></label>
        </div>
        <span asp-validation-for="Name" class="text-danger d-block"></span>
    </div>

    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" placeholder="Display Order" asp-for="DisplayOrder" />
            <label asp-for="DisplayOrder"></label>
        </div>
        <span asp-validation-for="DisplayOrder" class="text-danger d-block"></span>
    </div>

    <partial name="_ModalFooter" />
</form>
