@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Categories";

}

@section Styles {
    <link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" />
}

<partial name="_Toolbar" />


<div class="card shadow-sm">
    <partial name="_DataTablesCardHeader" /> 
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-row-bordered gy-4 align-middle js-datatables" data-document-title="Categories">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>
                        <th class="js-no-export text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <partial name="_CategoryRow" model="@category" />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}