@model ShopProductViewModel

@{
    ViewData["Title"] = "Products";
}
<div>
    <!-- Cart Panel Background
    ============================================= -->

    @* <div class="body-overlay"></div> *@
   
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper">

        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">

                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto mb-4">
                            <a class="fw-medium h1 js-all-products">All <span data-animate="svg-underline-animated" class="svg-underline nocolor"><span> Products</a>
                        </div>

                        <div class="col-auto mb-4 d-flex">

                            <div class="dropdown sortbuttons">
                                <button class="button button-border m-0 button-dark border-width-1 border-default text-transform-none ls-0 fw-normal h-bg-color dropdown-toggle" type="button" id="catButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Category</button>
                                <div class="dropdown-menu py-0 border-default rounded-0" aria-labelledby="catButton">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <a class="dropdown-item js-category-value" data-category-id="@category.Value">@category.Text</a>
                                    }
                                </div>
                            </div>

                            <div class="dropdown sortbuttons ms-2">
                                <button class="button button-border m-0 button-dark border-width-1 border-default text-transform-none ls-0 fw-normal h-bg-color dropdown-toggle" type="button" id="sortButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by default</button>
                                <div class="dropdown-menu py-0 border-default rounded-0" aria-labelledby="sortButton">
                                    <a class="dropdown-item" href="#">Featured</a>
                                    <a class="dropdown-item" href="#">Popular</a>
                                    <a class="dropdown-item" href="#">Price: Low to High</a>
                                    <a class="dropdown-item" href="#">Price: High to Low</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Shop
                    ============================================= -->
                    <div id="productsListContainer" class="shop row gutter-30 col-mb-30 mt-3">
                        <partial name="_ShopProducts" model="@Model.Products" />
                    </div>

                </div>
        </section><!-- #content end -->
       
    </div><!-- #wrapper end -->
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/customer/js/shopproducts.js" asp-append-version="true"></script>  
}