<!-- Cart Panel Background -->
<div class="body-overlay"></div>

<!-- Cart Side Panel -->
<div id="side-panel" class="bg-white">

	<!-- Cart Side Panel Close Icon -->
	<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="bi-x-lg"></i></a></div>

	<div id="show-all-cards">
		@* The Cards will render here *@
	</div>

</div>